<div class="row d-flex align-items-center align-content-center">
    <div class="col-lg-5 col-md-12 col-sm-12 d-flex align-items-center">
        <img src="/images/bridges.png" alt="logoBridges" class="logo me-3" />
        <h1>Entries Blog</h1>
    </div>
    <div class="col-lg-7 col-md-12 col-sm-12">
        <form action="/createPost" method="GET" class="custom-form-btn">
            <button type="submit" class="btn btn-primary btn-full">
                <div class="titleBtn">Create post</div>
                <div>Add a new blog entry</div>
            </button>
        </form>
    </div>
    <div class="emptyPost">
        <div class="emptyMessage pb-2">
            <div class="titleBtn">Empty</div>
            <div>No blog entries yet</div>
        </div>
    </div>
</div>